/*
 * Variables
 */

/* Typography */
$main-font-stack: helvetica, arial;
$heading-font-stack: courier;

/* Colors */
$map-color-1: #fef0d9;
$map-color-2: #fdcc8a;
$map-color-3: #fc8d59;
$map-color-4: #e34a33;
$map-color-5: #b30000;

$link-color: black;

$dark-grey: #3f3f3f;
$off-white: #e5e5e5;

/*
 * General styles
 */

body {
	background-color: black;
	color: $dark-grey;
	font-family: $main-font-stack;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $heading-font-stack;
	font-weight: normal;
	margin: .3em 0;
}

a:link,
a:visited {
	text-decoration: none;
	color: $link-color;
	font-weight: bold;
}

input, textarea {
	outline: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#main {
	background-color: $off-white;
	padding: 1em;
}

#site-title {
	margin: .8em 0;
	font-size: 2.5em;
	color: darken($off-white, 25%);
}

#nav {
	padding: 0;
	margin: 0;
	list-style: none;
	li {
		display: inline-block;
		border-top-left-radius: .3em;
		border-top-right-radius: .3em;
		padding: .5em 1em;
		background-color: lighten($off-white, 7%);
		a {
			display: block;
			width: 100%;
			height: 100%;
			color: lighten($link-color, 25%);
		}
		&.active {
			background-color: $off-white;
			a {
				color: $link-color;
			}
		}

	}
}

.controls {
	background-color: darken($off-white, 15%);
	padding: .7em .5em;
	margin-bottom: 1em;
	border-radius: .8em;
}
/*
 * Country List
 */

#countries {
	overflow: hidden;
	input[type="text"] {
		width: 20em;
	}
	.country {
		padding: .8em;
		margin: 0 1% .7em 0;
		background-color: darken($off-white, 10%);
		float: left;
		width: 30%;
		height: 250px;
		&:nth-child(3n + 3) {
			margin-right: 0;
		}
	}
}

/*
 * D3 map
 */

#map {
	.grey { fill: gray; }
	.q0 { fill: $map-color-1; }
	.q1 { fill: $map-color-2; }
	.q2 { fill: $map-color-3; }
	.q3 { fill: $map-color-4; }
	.q4 { fill: $map-color-5; }
}