/*
 * Variables
 */

/* Typography */
$main-font-stack: helvetica, arial;
$heading-font-stack: courier;

/* Colors */
$map-color-1: #fef0d9;
$map-color-2: #fdcc8a;
$map-color-3: #fc8d59;
$map-color-4: #e34a33;
$map-color-5: #b30000;
$map-not-available-color: gray;

$link-color: black;

$dark-grey: #3f3f3f;
$off-white: #e5e5e5;

/*
 * General styles
 */

body {
	background-color: black;
	color: $dark-grey;
	font-family: $main-font-stack;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $heading-font-stack;
	font-weight: normal;
	margin: .3em 0;
}

a:link,
a:visited {
	text-decoration: none;
	color: $link-color;
	font-weight: bold;
}

input, textarea {
	outline: none;
}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#main {
	background-color: $off-white;
	padding: 1em;
}

#site-title {
	margin: .8em 0;
	font-size: 2.3em;
	a {
		color: darken($off-white, 25%);
	}
}

#nav {
	padding: 0;
	margin: 0;
	list-style: none;
	li {
		display: inline-block;
		border-top-left-radius: .3em;
		border-top-right-radius: .3em;
		padding: .5em 1em;
		background-color: lighten($off-white, 7%);
		a {
			display: block;
			width: 100%;
			height: 100%;
			color: lighten($link-color, 25%);
		}
		&.active {
			background-color: $off-white;
			a {
				color: $link-color;
			}
		}

	}
}

.controls {
	background-color: darken($off-white, 15%);
	padding: .7em .5em;
	margin-bottom: 1em;
	border-radius: .8em;
}
/*
 * Country List
 */

#countries {
	overflow: hidden;
	input[type="text"] {
		width: 20em;
	}
	table {
		width: 100%;
	}
	.country {
		padding: .8em;
		margin: 0 1% .7em 0;
		background-color: darken($off-white, 10%);
		float: left;
		width: 30%;
		height: 300px;
		&:nth-child(3n + 3) {
			margin-right: 0;
		}
	}
	.comment-entry {
		margin-left: 2em;
		font-weight: bold;
		background: $off-white;
		padding: 0em 0.3em;
		border-radius: 1em;
		float: right;
		&:hover {
			cursor: pointer;
			background: darken($off-white, 4%);
		}
	}
	// th + td {
	// 	text-align: right;
	// }
}

/*
 * D3 map
 */


#map {
	.na { fill: gray; background-color: $map-not-available-color; }
	.q0 { fill: $map-color-1; background-color: $map-color-1; }
	.q1 { fill: $map-color-2; background-color: $map-color-2; }
	.q2 { fill: $map-color-3; background-color: $map-color-3; }
	.q3 { fill: $map-color-4; background-color: $map-color-4; }
	.q4 { fill: $map-color-5; background-color: $map-color-5; }
	.country {
		&:hover {
			fill-opacity: .7;
			transition: fill-opacity .2s linear;
			cursor: pointer;
		}
	}
	.legend {
		.thresholds {
			padding: 0 0 1em 0;
		}
		.threshold {
			display: inline-block;
			margin-right: 1.3em;
		}
		.box {
			display: inline-block;
			height: 1em;
			width: 1em;
			border: solid 1px $dark-grey;
		}
	}
}

