<div id="compare">
<div class="controls">
	<select class="multi-selector" ui-select2="{placeholder: 'Select countries...'}" multiple ng-model="selected">
		<option ng-repeat="country in countries | orderBy:'name'" ng-value="country.country_code">{{country.name}}</option>
	</select>
</div>
<div id="charts">
	<bar-chart 
		ng-repeat="(dimensionKey, dimensionVals) in display.dimensions"
		dimension="dimensionKey"
		label="dimensionVals.label"
		ready="hash.$resolved"
		selected="selected"
		hash="hash">
	</bar-chart>
</div>
</div>