<div id="countries">
  <div class="controls">
	<select class="multi-selector" autofocus ui-select2="{placeholder: 'Select countries...'}" multiple ng-model="selected">
		<option ng-repeat="country in countries | orderBy:'name'" 
				ng-value="country.country_code"
				ng-if="country.trend">
				{{country.name}}
		</option>
	</select>
	<div>
		<span>Sort by:</span>
		<select ng-model="display.dimension"
				ng-options="k as v.label for (k, v) in display.dimensions">
		</select>
		<span>From:</span>
		<select ng-model="display.descending">
		  <option value="true">Highest</option>
		  <option value="false">Lowest</option>
		</select>
	</div>
  </div>
  <ul>
    <li class="country" 
        ng-repeat="country in countries | orderBy:orderFn:display.descending"
		ng-show="selected.indexOf(country.country_code) !== -1 || 
		selected.length === 0">
      <h2>{{ country.name }}</h2>
      <table>
        <tr>
          <th>Total prisoners:</th>
          <td>{{ country.total_prisoners | fmtInt | naify }}
            <tool-tip-link comment="country.total_prisoners_comment"></tool-tip-link>
          </td>
        </tr>
        <tr>
          <th>Prison population rate:</th>
          <td>{{ country.prison_pop_rate | fmtInt | fmtPer100k | naify }}
            <tool-tip-link comment="country.prison_pop_rate_comment"></tool-tip-link>
          </td>
        </tr>
        <tr>
          <th>Female prisoners:</th>
          <td>{{ country.female_prisoners | fmtPercent | naify }}
            <tool-tip-link comment="country.female_prisoners_comment"></tool-tip-link>
        </td>
        </tr>
        <tr>
          <th>Juvenile prisoners:</th>
          <td>{{ country.juveniles | fmtPercent | naify }}
            <tool-tip-link comment="country.juveniles"></tool-tip-link>
        </td>
        </tr>
        <tr>
          <th>Official capacity:</th>
          <td>{{ country.official_capacity | fmtInt | naify }}
            <tool-tip-link comment="country.official_capacity_comment"></tool-tip-link>
          </td>
        </tr>
        <tr>
          <th>Occupancy level:</th>
          <td>{{ country.occupancy_level | fmtPercent | naify }}
            <tool-tip-link comment="country.occupancy_level_comment"></tool-tip-link>
          </td>
        </tr>
        <tr>
          <th>Pretrial detainee rate:</th>
          <td>{{ country.pretrial_detainee_rate | fmtPercent | naify }}
            <tool-tip-link comment="country.pretrial_detainee_rate_comment"></tool-tip-link>
          </td>
        </tr>
        <tr>
          <th>Foreign prisoners:</th>
          <td>{{ country.foreign_prisoners | fmtPercent | naify }}
            <tool-tip-link comment="country.foreign_prisoners_comment"></tool-tip-link>
          </td>
        </tr>
        <tr>
          <th>Total establishments:</th>
          <td>{{ country.total_establishments | fmtInt | naify }}
            <tool-tip-link comment="country.total_establishments_comment"></tool-tip-link>
          </td>
        </tr>
        <tr>
          <td><a ng-href="{{country.pso_url}}" target="_blank">Learn more</a></td>
        </tr>
      </table>
    </li>
  </ul>
</div>
