<div id="map">
	<div class="controls">
		<span>Compare countries by:</span>
		<select type="text" 
				ng-model="dimension" 
				ng-options="k as v.label for (k, v) in dimensions">
		</select>
		<span>{{hash[currentCountry].name}}: {{hash[currentCountry][dimension]}}</span>
	</div>
	<div class="legend">
		<li class="thresholds" ng-show="k==dimension" ng-repeat="(k,v) in dimensions">
			<div class="threshold" ng-repeat="num in v.thresholds">
				<span class="num">&lt; {{num | fmtInt}}</span>
				<span class="{{'q'+$index + ' box'}}"></span>
			</div>
			<div class="threshold">
				<span class="num">Not available</span>
				<span class="na box"></span>
			</div>
		</li>
	</div>
	<choropleth></choropleth>
</div>