<div id="trends">
<div class="controls">
	<select class="multi-selector" ui-select2="{placeholder: 'Select countries...'}" multiple ng-model="selected">
		<option ng-repeat="country in countries" ng-value="country.country_code">{{country.name}}</option>
	</select>
	<select ng-model="display.dimension">
		<option value="total_prisoners">Total prisoners</option>
		<option value="xxxxxxxxxx">Prison population rate</option>
	</select>
</div>
<div>
	<plot 
		dimension="display.dimension"
		ready="hash.$resolved"
		hash="hash"
		selected="selected">
	</plot>
</div>
</div>